.card {
    box-shadow : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 20px;
    width : 20rem;
    height : 18rem;
    background-color: #E8ECF4;
}

.image {
    position: relative;
    height: 60%;
    background-color: red;
    border-radius : 20px;
}

.image img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius : 20px;
}

.backdrop {
    top: 0;
    border-radius : 20px;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);    
    width: 100%;
    height: 100%;
}

.name {
    font-family: 'Montserrat', sans-serif;
}

