.weather{
    position: absolute;
width: 338px;
height: 536px;
left: 1156px;
top: 490px;

background: linear-gradient(197.5deg, #423F4B 24.79%, rgba(66, 63, 75, 0.764087) 54.51%, rgba(66, 63, 75, 0) 110.25%);
border-radius: 30px;
}

.day{
    position: absolute;
width: 68px;
height: 29px;
left: 135px;
top: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #ece3e3;

}

.temp{
    position: absolute;
width: 156px;
height: 77px;
left: 91px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #ece3e3;
}